/*
0 - 600px: Phone
600 - 900px: Tablet potrait
900 - 1200px: Tablet landscape
1200 - 1800px: Normal desktop
1800px -> : Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #c4e0f5;
  --color-primary-light-1: rgb(137, 203, 233);
  --color-primary-dark-1: #c4e0f5bb;
  --color-dark-1: #323232;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(black, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*1rem definition. 10px is the default. setting percentage will not have reliance on default numbering. 1rem by default is 16px, so to change default to 10px, 10/16 = 62.5%*/ }
  @media (max-width: 125em) {
    html {
      font-size: 75%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes shake {
  0% {
    transform: translate(0.1rem, 0.1rem) rotate(0deg); }
  10% {
    transform: translate(-0.1rem, -0.2rem) rotate(-1deg); }
  20% {
    transform: translate(-0.3rem, 0px) rotate(1deg); }
  30% {
    transform: translate(0.3rem, 0.2rem) rotate(0deg); }
  40% {
    transform: translate(0.1rem, -0.1rem) rotate(1deg); }
  50% {
    transform: translate(-0.1rem, 0.2rem) rotate(-1deg); }
  60% {
    transform: translate(-0.3rem, 0.1rem) rotate(0deg); }
  70% {
    transform: translate(0.3rem, 0.1rem) rotate(-1deg); }
  80% {
    transform: translate(-0.1rem, -0.1rem) rotate(1deg); }
  90% {
    transform: translate(0.1rem, 0.2rem) rotate(0deg); }
  100% {
    transform: translate(0.1rem, -0.2rem) rotate(-1deg); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #333;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 3s ease-out;
    /* animation-iteration-count: 3; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 3s ease-out;
    /* animation-duration: 3s;
          animation-timing-function: ease-out; */ }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #c4e0f5bb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  animation: shake 0.5s;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  .btn:hover::after, .btn:focus::after {
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--pinkish {
  background-color: #c4e0f5;
  color: #fff; }
  .btn--pinkish::after {
    background-color: #c4e0f5; }

.btn--animated {
  animation: moveInBottom 0.75s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn__no-afterAction:hover, .btn__no-afterAction:focus {
  animation: none;
  box-shadow: 0 0 0; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #c4e0f5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c4e0f5;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #c4e0f5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem #000000, 0.15;
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #c4e0f5;
      transform: scale(1.05) translateY(5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.98); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #c4e0f5bb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    background-color: #fff;
    color: #fff;
    font-size: 2rem;
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      color: #000000;
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #c4e0f5bb); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: top;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(196, 224, 245, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem;
        padding: 4rem; }
      .card__price-value {
        font-size: 4rem; } }

.story {
  width: 100%;
  height: auto; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 2; }
  .form__calendar {
    flex: 1;
    position: relative; }
  .form__group {
    flex: 1; }
  .form__container {
    display: flex;
    flex: 1;
    flex-direction: column; }
  .form__field-hidden {
    visibility: collapse;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    border: none; }
  .form__field-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    position: relative;
    padding: 0rem 2rem; }
    .form__field-container > * {
      padding: 1.5rem 2rem; }
    .form__field-container > :not(:first-child) {
      margin-top: 2rem; }
  .form__field-error {
    color: red;
    position: absolute;
    top: -1rem;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 0; }
  .form__field-timeslot-error {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 0; }
  .form__field-error-logo {
    width: 1.5rem;
    margin: 0 1rem;
    fill: red; }
  .form__field-error-highlight {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid red; }
  .form__field-label {
    font-size: medium;
    width: 10rem; }
  .form__field {
    flex: 1;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    border: 1px solid var(--color-primary);
    width: 100%;
    display: block; }
    .form__field:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--color-primary-dark-1); }
  .form__timeslot-container {
    position: relative; }
  .form__book-button {
    background-color: var(--color-primary); }
  .form__book-button-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.popup {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  transform: all 0.3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 20rem;
    width: 30%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s 0.2s; }
  .popup__title {
    background-color: var(--color-primary-dark-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
  .popup__message-button {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center; }
  .popup__message {
    background-color: white;
    display: flex;
    height: 10rem;
    flex: 2;
    justify-content: center;
    align-items: center; }
  .popup__button-container {
    display: flex;
    justify-content: center;
    width: 100%; }
  .popup__close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden; }

.react-calendar__input {
  display: none; }

.timeslot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center; }
  .timeslot__tile-container {
    display: flex;
    flex-direction: row; }
  .timeslot__radio-container {
    display: flex;
    justify-content: flex-start; }
  .timeslot__radiobutton {
    visibility: collapse; }
    .timeslot__radiobutton:checked ~ label {
      background-color: var(--color-primary-dark-1);
      transform: scale(1.2); }
  .timeslot__tile {
    display: flex;
    flex: 1;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    padding: 1rem 3rem;
    border-radius: 3px; }
    .timeslot__tile:hover {
      cursor: pointer;
      background-color: var(--color-primary-dark-1); }

.navigation {
  z-index: 9999;
  position: fixed;
  width: 100%;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 0 35rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 11rem; }
  @media (max-width: 112.5em) {
    .navigation {
      padding: 0rem 30rem 0rem; } }
  @media (max-width: 75em) {
    .navigation {
      padding: 0rem 10rem 0rem; } }
  @media (max-width: 56.25em) {
    .navigation {
      padding: 0 5rem 0; } }
  .navigation__side-drawer {
    display: none;
    background-color: blue;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .navigation__side-drawer {
        display: block;
        visibility: visible; } }
  .navigation__button {
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: 4rem;
    right: 5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 2000; }
  .navigation__icon {
    height: 2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 100%;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__background {
    position: absolute;
    top: 4rem;
    right: 5rem;
    border-radius: 50%;
    background-image: radial-gradient(#fff, #c4e0f5);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
    @media (max-width: 56.25em) {
      .navigation__background {
        height: 4rem;
        width: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        height: 4rem;
        width: 4rem; } }
  .navigation__backgroundOpen {
    transform: scale(80); }
  .navigation__menu-container {
    height: 100%;
    z-index: 1000;
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .navigation__menu-container {
        display: none;
        visibility: hidden; } }
  .navigation__logo-container {
    display: flex;
    align-self: stretch;
    align-items: center; }
  .navigation__logo {
    display: flex;
    background-color: transparent;
    z-index: 4000;
    padding: 0;
    width: auto;
    height: 2.2rem; }
    .navigation__logo:hover, .navigation__logo:focus {
      animation: none;
      box-shadow: 0 0 0; }
    .navigation__logo:hover {
      transform: scale(1.1);
      animation: none;
      box-shadow: 0 0 0; }
  .navigation__logo-photo {
    height: 100%; }
  .navigation__item {
    display: flex;
    align-items: center; }
  .navigation__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__link {
    cursor: pointer; }
    .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all 0.4s; }
      .navigation__link:visited span {
        margin-right: 1.5rem;
        display: inline-block; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #c4e0f5;
      transform: translateX(1rem); }
  .navigation__bookbutton {
    border-radius: 4rem;
    padding: 1.7rem 1.8rem;
    width: 19rem;
    height: 6rem;
    text-transform: none; }
  .navigation__bookbutton-text {
    letter-spacing: 0%;
    font-size: 1.7rem;
    text-align: center;
    color: #636363;
    font-weight: 700; }
  .navigation__otherbutton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    transform: scale(1);
    transition: all 0.5s;
    margin: 0 4rem 0 0; }
    .navigation__otherbutton:hover {
      transform: scale(1.1);
      animation: none;
      box-shadow: 0 0 0; }
  .navigation__otherbutton-text {
    text-align: center;
    color: #636363; }
  .navigation__findmehere {
    animation: shake 1s ease infinite;
    display: flex;
    background-color: transparent;
    z-index: 4000;
    padding: 0;
    margin-left: 5rem;
    height: 2.2rem; }
    .navigation__findmehere:hover, .navigation__findmehere:focus {
      animation: none;
      box-shadow: 0 0 0; }
    .navigation__findmehere:hover {
      transform: scale(1.1);
      animation: none;
      box-shadow: 0 0 0; }
    @media (max-width: 75em) {
      .navigation__findmehere {
        padding: 5rem; } }
    @media (max-width: 56.25em) {
      .navigation__findmehere {
        padding: 5rem; } }

.frontlanding {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.7rem 35rem 3.5rem; }
  @media (max-width: 112.5em) {
    .frontlanding {
      padding: 4.7rem 30rem 3.5rem; } }
  @media (max-width: 75em) {
    .frontlanding {
      padding: 4.7rem 20rem 3.5rem; } }
  @media (max-width: 56.25em) {
    .frontlanding {
      padding: 5rem 10rem 0;
      flex-direction: column; } }
  .frontlanding__logo3-container {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center; }
  .frontlanding__logo3 {
    width: 100%; }
  .frontlanding__title-button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
    animation: moveInLeft 3s ease-out; }
    @media (max-width: 56.25em) {
      .frontlanding__title-button-container {
        display: none;
        visibility: none; } }
  .frontlanding__title-container {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: stretch;
    justify-content: space-between;
    flex: 2; }
  .frontlanding__title {
    width: 100%;
    font-size: 6.4rem;
    margin: 0; }
  .frontlanding__button-container-smallscreen {
    justify-content: center;
    display: none;
    visibility: hidden;
    margin-top: 0rem;
    width: 0 !important;
    height: 0 !important; }
    @media (max-width: 56.25em) {
      .frontlanding__button-container-smallscreen {
        display: flex;
        visibility: visible;
        margin-top: 4.8rem;
        width: 100% !important;
        height: auto !important; } }
  .frontlanding__bookbutton-smallscreen {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0; }
    @media (max-width: 56.25em) {
      .frontlanding__bookbutton-smallscreen {
        visibility: visible;
        width: 43rem;
        height: 9rem; } }
  .frontlanding__button-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex: 0.5; }
  .frontlanding__bookbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    padding: 1.7rem 1.8rem;
    width: 43rem;
    height: 9rem;
    text-transform: none; }
  .frontlanding__bookbutton-text {
    letter-spacing: 0%;
    font-size: 3.4rem;
    text-align: center;
    color: #636363;
    font-weight: 700; }
  .frontlanding__logo-socials-container {
    animation: moveInRight 3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: stretch; }
    @media (max-width: 56.25em) {
      .frontlanding__logo-socials-container {
        animation: none;
        height: 100%; } }
  .frontlanding__socials-container {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center; }
  .frontlanding__socials-list {
    display: flex;
    justify-content: space-between;
    width: 15.5rem; }
  .frontlanding__socials-item {
    width: 3.1rem;
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
    fill: var(--color-dark-1); }
    .frontlanding__socials-item:hover {
      transform: scale(1.1);
      animation: none;
      box-shadow: 0 0 0; }

.app {
  height: 100vh;
  align-self: stretch;
  flex: 1;
  flex-direction: column; }

.services {
  padding: 11rem 0 0;
  height: auto; }
  .services__overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 35rem 0;
    margin: 0;
    margin-bottom: 13.1rem; }
    @media (max-width: 112.5em) {
      .services__overview {
        padding: 0 30rem 0; } }
    @media (max-width: 75em) {
      .services__overview {
        padding: 0 20rem 0; } }
    @media (max-width: 56.25em) {
      .services__overview {
        padding: 0 10rem 0; } }
  .services__header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 9rem; }
  .services__header {
    margin-bottom: 0;
    font-size: 3rem; }
  .services__overview-logo-container {
    display: flex;
    width: 100%;
    height: 18rem;
    justify-content: space-between;
    align-items: center; }
  .services__overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .services__list-item {
    height: 35rem;
    display: flex;
    padding: 0 35rem 0;
    flex-direction: row;
    flex: 2;
    background-color: var(--color-primary-light-1);
    justify-content: space-between; }
    @media (max-width: 112.5em) {
      .services__list-item {
        padding: 0 30rem 0; } }
    @media (max-width: 75em) {
      .services__list-item {
        padding: 0 20rem 0; } }
    @media (max-width: 56.25em) {
      .services__list-item {
        padding: 0 10rem 0; } }
  .services__list-item-description {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; }
  .services__logo-container {
    display: flex;
    justify-content: center; }
  .services__list-item-logo {
    width: 6rem; }
  .services__alternate {
    background-color: white;
    flex-direction: row-reverse;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.footer {
  height: 21.6rem;
  width: 100%;
  background-color: var(--color-primary-dark-1); }
  .footer__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 35rem 4rem; }
    @media (max-width: 112.5em) {
      .footer__container {
        padding: 2rem 30rem 4rem; } }
    @media (max-width: 75em) {
      .footer__container {
        padding: 2rem 20rem 4rem; } }
    @media (max-width: 56.25em) {
      .footer__container {
        padding: 1rem 5rem 1rem; } }
    .footer__container > :not(:last-child) {
      margin-right: 5rem; }
  .footer__address {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start; }
  .footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .footer__contact-us {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    justify-content: flex-start; }
  .footer__label {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem; }
  .footer__label-thin {
    font-weight: 100;
    font-size: 1.4rem; }
  .footer__label-medium {
    font-weight: 100;
    font-size: 1.4rem; }
  .footer__label-container {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .footer__socials-item {
    margin: 1rem 1rem 1rem 0;
    width: 2.1rem;
    fill: var(--color-dark-1);
    display: flex; }

.book {
  height: inherit;
  padding: 4.7rem 35rem 3.5rem; }
  @media (max-width: 112.5em) {
    .book {
      padding: 4.7rem 30rem 3.5rem; } }
  @media (max-width: 75em) {
    .book {
      padding: 4.7rem 10rem 3.5rem; } }
  @media (max-width: 56.25em) {
    .book {
      padding: 4.7rem 0rem 3.5rem; } }
  .book__group {
    padding: 1rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    flex: 2;
    border-radius: 1rem;
    border: 1px solid var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .book__calendar-form {
    display: flex; }
  .book__calendar-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    padding: 0 1rem 0; }
  .book__label {
    font-size: 1.7rem;
    width: 100%;
    padding: 0 1.1rem; }
  .book__form-container {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column; }
  .book__button-container {
    display: flex;
    justify-content: center; }
  .book__button {
    background-color: var(--color-primary); }
  .book__form {
    margin: 0; }
