USE [master]
GO
/****** Object:  Database [Appointment_R0.1]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE DATABASE [Appointment_R0.1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Appointment_R0.1', FILENAME = N'/var/opt/mssql/Appointment_R0.1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Appointment_R0.1_log', FILENAME = N'/var/opt/mssql/Appointment_R0.1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Appointment_R0.1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Appointment_R0.1]
GO
/****** Object:  Schema [AppointmentMain]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE SCHEMA [AppointmentMain]
GO
/****** Object:  Schema [Tenant_001]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE SCHEMA [Tenant_001]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[TenantConfiguration]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[TenantConfiguration](
	[TenantConfigurationID] [uniqueidentifier] NOT NULL,
	[TenantFK] [uniqueidentifier] NOT NULL,
	[KioskTenantCode] [nvarchar](max) NULL,
	[KioskTenantName] [nvarchar](max) NULL,
 CONSTRAINT [PK_TenantConfiguration] PRIMARY KEY CLUSTERED 
(
	[TenantConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[TenantMapping]    Script Date: 12/8/2021 8:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE [Appointment_R0.1]
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [AppointmentMain].[TenantMapping](
	[TenantID] [uniqueidentifier] NOT NULL,
	[TenantCode] [nvarchar](max) NULL,
	[SchemaName] [nvarchar](max) NULL,
	[DBServer] [nvarchar](max) NULL,
	[DBName] [nvarchar](max) NULL,
	[DBUserName] [nvarchar](max) NULL,
	[DBUserPassword] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[TenantIndex] [int] NOT NULL,
	[HeCode] [nvarchar](max) NULL,
	[IsMobileEnabled] [bit] NULL,
 CONSTRAINT [PK_TenantMapping] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[Activity]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[Activity](
	[ActivityId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Date] [datetime2](7) NOT NULL,
	[City] [nvarchar](max) NULL,
	[Venue] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[IsCancelled] [bit] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[ActivityAttendee]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[ActivityAttendee](
	[AppUserFk] [uniqueidentifier] NOT NULL,
	[ActivityFk] [uniqueidentifier] NOT NULL,
	[IsHost] [bit] NOT NULL,
 CONSTRAINT [PK_ActivityAttendee] PRIMARY KEY CLUSTERED 
(
	[AppUserFk] ASC,
	[ActivityFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[Answer]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[Answer](
	[AnswerId] [uniqueidentifier] NOT NULL,
	[DisplayValue] [nvarchar](max) NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[AppUser]    Script Date: 24/5/2021 9:01:31 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [Tenant_001].[AppUser](
--	[UserId] [uniqueidentifier] NOT NULL,
--	[Title] [nvarchar](max) NULL,
--	[FirstName] [nvarchar](max) NULL,
--	[LastName] [nvarchar](max) NULL,
--	[DisplayName] [nvarchar](max) NULL,
--	[Age] [nvarchar](max) NULL,
--	[Bio] [nvarchar](max) NULL,
--	[Birthdate] [datetime2](7) NOT NULL,
--	[ActiveStatus] [nvarchar](max) NULL,
--	[Gender] [nvarchar](max) NULL,
--	[CreateDate] [datetime2](7) NOT NULL,
--	[UpdateDate] [datetime2](7) NOT NULL,
--	[ReligionFK] [uniqueidentifier] NOT NULL,
--	[CountryFk] [uniqueidentifier] NOT NULL,
--	[OccupationFk] [uniqueidentifier] NOT NULL,
--	[UserName] [nvarchar](256) NULL,
--	[NormalizedUserName] [nvarchar](256) NULL,
--	[Email] [nvarchar](256) NULL,
--	[NormalizedEmail] [nvarchar](256) NULL,
--	[EmailConfirmed] [bit] NOT NULL,
--	[PasswordHash] [nvarchar](max) NULL,
--	[SecurityStamp] [nvarchar](max) NULL,
--	[ConcurrencyStamp] [nvarchar](max) NULL,
--	[PhoneNumber] [nvarchar](max) NULL,
--	[PhoneNumberConfirmed] [bit] NOT NULL,
--	[TwoFactorEnabled] [bit] NOT NULL,
--	[LockoutEnd] [datetimeoffset](7) NULL,
--	[LockoutEnabled] [bit] NOT NULL,
--	[AccessFailedCount] [int] NOT NULL,
-- CONSTRAINT [PK_AppUser] PRIMARY KEY CLUSTERED 
--(
--	[UserId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
/****** Object:  Table [Tenant_001].[AppUserQuestionAnswer]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[AppUserQuestionAnswer](
	[AppUserFK] [uniqueidentifier] NOT NULL,
	[QuestionFK] [uniqueidentifier] NOT NULL,
	[AnswerFK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AppUserQuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[AppUserFK] ASC,
	[QuestionFK] ASC,
	[AnswerFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[Country]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[Country](
	[CountryId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[DisplayValue] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[PhoneCountryCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[Occupation]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[Occupation](
	[OccupationId] [uniqueidentifier] NOT NULL,
	[DisplayValue] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Occupation] PRIMARY KEY CLUSTERED 
(
	[OccupationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[Question]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[Question](
	[QuestionId] [uniqueidentifier] NOT NULL,
	[DisplayValue] [nvarchar](max) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[QuestionAnswer]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[QuestionAnswer](
	[QuestionFk] [uniqueidentifier] NOT NULL,
	[AnswerFk] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_QuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[QuestionFk] ASC,
	[AnswerFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[Race]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[Race](
	[RaceID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](200) NOT NULL,
	[DisplayValue] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[EffectiveStartDate] [datetime] NOT NULL,
	[EffectiveEndDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
	[IRISCode] [nvarchar](200) NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[Relationship]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[Relationship](
	[RelationshipID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](200) NOT NULL,
	[DisplayValue] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[EffectiveStartDate] [datetime] NOT NULL,
	[EffectiveEndDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Relationship] PRIMARY KEY CLUSTERED 
(
	[RelationshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[Religion]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[Religion](
	[ReligionId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[DisplayValue] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EffectiveEndDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Religion] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AppointmentMain].[ResidentStatus]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AppointmentMain].[ResidentStatus](
	[ResidentStatusID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](200) NOT NULL,
	[DisplayValue] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsUserMaintainable] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[EffectiveStartDate] [datetime] NOT NULL,
	[EffectiveEndDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResidentStatus] PRIMARY KEY CLUSTERED 
(
	[ResidentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Tenant_001].[Role]    Script Date: 24/5/2021 9:01:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tenant_001].[Role](
	[RoleId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [Tenant_001].[Activity] ([ActivityId], [Title], [Description], [Category], [Date], [City], [Venue], [CreateDate], [UpdateDate], [IsUserMaintainable], [IsCancelled]) VALUES (N'456754a8-8b81-4166-99b3-08d91e4e7caa', N'Past Activity 1', N'Activity 2 months ago', N'drinks', CAST(N'2021-03-24T08:54:29.7377724' AS DateTime2), N'London', N'Pub', CAST(N'2021-05-24T08:54:29.7380492' AS DateTime2), CAST(N'2021-05-24T08:54:29.7381027' AS DateTime2), 1, 0)
INSERT [Tenant_001].[Activity] ([ActivityId], [Title], [Description], [Category], [Date], [City], [Venue], [CreateDate], [UpdateDate], [IsUserMaintainable], [IsCancelled]) VALUES (N'fe97bf0d-4ea0-4d02-99b4-08d91e4e7caa', N'Past Activity 2', N'Activity 1 month ago', N'culture', CAST(N'2021-04-24T08:54:29.7384196' AS DateTime2), N'Paris', N'Louvre', CAST(N'2021-05-24T08:54:29.7384207' AS DateTime2), CAST(N'2021-05-24T08:54:29.7384209' AS DateTime2), 1, 0)
INSERT [Tenant_001].[Activity] ([ActivityId], [Title], [Description], [Category], [Date], [City], [Venue], [CreateDate], [UpdateDate], [IsUserMaintainable], [IsCancelled]) VALUES (N'06d749e1-4c15-45f4-99b5-08d91e4e7caa', N'Future Activity 1', N'Activity 1 month in future', N'culture', CAST(N'2021-06-24T08:54:29.7384215' AS DateTime2), N'London', N'Natural History Museum', CAST(N'2021-05-24T08:54:29.7384217' AS DateTime2), CAST(N'2021-05-24T08:54:29.7384218' AS DateTime2), 1, 0)
GO
INSERT [Tenant_001].[ActivityAttendee] ([AppUserFk], [ActivityFk], [IsHost]) VALUES (N'7322c637-e2f6-454f-0841-08d91e4e7c82', N'456754a8-8b81-4166-99b3-08d91e4e7caa', 1)
INSERT [Tenant_001].[ActivityAttendee] ([AppUserFk], [ActivityFk], [IsHost]) VALUES (N'7322c637-e2f6-454f-0841-08d91e4e7c82', N'fe97bf0d-4ea0-4d02-99b4-08d91e4e7caa', 1)
INSERT [Tenant_001].[ActivityAttendee] ([AppUserFk], [ActivityFk], [IsHost]) VALUES (N'7322c637-e2f6-454f-0841-08d91e4e7c82', N'83e7582b-2225-4838-99b6-08d91e4e7caa', 1)
GO
INSERT [Tenant_001].[Answer] ([AnswerId], [DisplayValue], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'cd905d19-b512-49e0-90c3-005368d99d88', N'prawnnnyyy', CAST(N'2021-05-04T14:55:31.3648785' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-04T14:55:31.3648949' AS DateTime2), CAST(N'2021-05-04T14:55:31.3648951' AS DateTime2))
INSERT [Tenant_001].[Answer] ([AnswerId], [DisplayValue], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'a06133c4-d67c-4953-805c-008cef3f3a68', N'prawnnnyyyeee', CAST(N'2021-05-04T16:16:35.2571415' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-04T16:16:35.2572520' AS DateTime2), CAST(N'2021-05-04T16:16:35.2572948' AS DateTime2))
INSERT [Tenant_001].[Answer] ([AnswerId], [DisplayValue], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'3f953cbc-c1db-4db4-b3ef-009d14a447ab', N'hahahahfffrrr', CAST(N'2021-05-05T12:30:21.4726099' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-05T12:30:21.4726214' AS DateTime2), CAST(N'2021-05-05T12:30:21.4726218' AS DateTime2))
GO
--INSERT [Tenant_001].[AppUser] ([UserId], [Title], [FirstName], [LastName], [DisplayName], [Age], [Bio], [Birthdate], [ActiveStatus], [Gender], [CreateDate], [UpdateDate], [ReligionFK], [CountryFk], [OccupationFk], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'7322c637-e2f6-454f-0841-08d91e4e7c82', N'Mr', N'Colin', N'Lee', N'Colin', N'30', N'', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'A', N'M', CAST(N'2021-05-24T08:54:29.3622084' AS DateTime2), CAST(N'2021-05-24T08:54:29.3618877' AS DateTime2), N'00000000-0000-0000-0000-000000000009', N'00000000-0000-0000-0000-000000000233', N'00000000-0000-0000-0000-000000000000', N'Colin88888888', N'COLIN88888888', N'Colin88888888@test.com', N'COLIN88888888@TEST.COM', 0, N'AQAAAAEAACcQAAAAEP53nnHw1wXJ+d/a3/JTu6YjBq8/bUTV12N8/y7vjZy/qK5uFu/SoFJdh+1G/QWXOw==', N'C2SBRY53AP37C2ANEDUUOP7QDP6SYKHR', N'c35a04b8-9f5f-4fe2-86ce-d282e674e754', N'98989898', 0, 0, NULL, 1, 0)
--INSERT [Tenant_001].[AppUser] ([UserId], [Title], [FirstName], [LastName], [DisplayName], [Age], [Bio], [Birthdate], [ActiveStatus], [Gender], [CreateDate], [UpdateDate], [ReligionFK], [CountryFk], [OccupationFk], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'6d1f565b-7483-47bf-0842-08d91e4e7c82', N'Mrs', N'Jane', N'Goh', N'Jane', N'30', N'', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'A', N'F', CAST(N'2021-05-24T08:54:29.3627034' AS DateTime2), CAST(N'2021-05-24T08:54:29.3627029' AS DateTime2), N'00000000-0000-0000-0000-000000000009', N'00000000-0000-0000-0000-000000000233', N'00000000-0000-0000-0000-000000000000', N'Jane88888888', N'JANE88888888', N'Jane88888888@test.com', N'JANE88888888@TEST.COM', 0, N'AQAAAAEAACcQAAAAENEFiJeerh2Le2zizhUTBVhfZhy5yTIaelRa1yV+QWwFysdO2QvplaHgOuDejfu2XA==', N'DK742UR6RTBTNRT2MCWOMH6C5JXMIQFK', N'f84fe583-690d-4e13-af76-03b4ab52a999', N'98888888', 0, 0, NULL, 1, 0)
--INSERT [Tenant_001].[AppUser] ([UserId], [Title], [FirstName], [LastName], [DisplayName], [Age], [Bio], [Birthdate], [ActiveStatus], [Gender], [CreateDate], [UpdateDate], [ReligionFK], [CountryFk], [OccupationFk], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'8c075bd3-1896-4ad1-0843-08d91e4e7c82', N'Mr', N'Yong Qian', N'Yong', N'Yong', N'30', N'', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'A', N'M', CAST(N'2021-05-24T08:54:29.3627089' AS DateTime2), CAST(N'2021-05-24T08:54:29.3627088' AS DateTime2), N'00000000-0000-0000-0000-000000000009', N'00000000-0000-0000-0000-000000000233', N'00000000-0000-0000-0000-000000000000', N'Yong88888888', N'YONG88888888', N'Yong88888888@test.com', N'YONG88888888@TEST.COM', 0, N'AQAAAAEAACcQAAAAECE6ZI0yBPu+LX+WurLKaorNmGVc3wgSTTnNjEHUZGWzaUoQHmbc489FAE0YER3xHA==', N'NO64ETJQMLGLC4SP3JBKPB2CD6HQAQPV', N'152de4b5-18b9-4c1a-9a92-b75d5966c271', N'88888888', 0, 0, NULL, 1, 0)
--INSERT [Tenant_001].[AppUser] ([UserId], [Title], [FirstName], [LastName], [DisplayName], [Age], [Bio], [Birthdate], [ActiveStatus], [Gender], [CreateDate], [UpdateDate], [ReligionFK], [CountryFk], [OccupationFk], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'2c845596-29b4-4a38-0844-08d91e4e7c82', N'Mrs', N'Shanon', N'Yong', N'Shanon', N'30', N'', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'A', N'F', CAST(N'2021-05-24T08:54:29.3627095' AS DateTime2), CAST(N'2021-05-24T08:54:29.3627094' AS DateTime2), N'00000000-0000-0000-0000-000000000009', N'00000000-0000-0000-0000-000000000233', N'00000000-0000-0000-0000-000000000000', N'Shanon88888888', N'SHANON88888888', N'Shanon88888888@test.com', N'SHANON88888888@TEST.COM', 0, N'AQAAAAEAACcQAAAAELSMxHh+oKc+12ouD1g3wqNXnQfLYKJjkzVgK2ixXt1ApViYlWNtP2DuSgX0p+S5JQ==', N'YEQSWPDPNCREH5O6B57ZGC32ZPOGO23I', N'b40be926-587a-4ac3-a550-e2b443f0d453', N'88888888', 0, 0, NULL, 1, 0)
--INSERT [Tenant_001].[AppUser] ([UserId], [Title], [FirstName], [LastName], [DisplayName], [Age], [Bio], [Birthdate], [ActiveStatus], [Gender], [CreateDate], [UpdateDate], [ReligionFK], [CountryFk], [OccupationFk], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'741f8c18-57ef-4ce6-0845-08d91e4e7c82', N'Mr', N'Bolin', N'Chen', N'Bolin', N'30', N'', CAST(N'1990-01-01T00:00:00.0000000' AS DateTime2), N'A', N'M', CAST(N'2021-05-24T08:54:29.3627100' AS DateTime2), CAST(N'2021-05-24T08:54:29.3627099' AS DateTime2), N'00000000-0000-0000-0000-000000000009', N'00000000-0000-0000-0000-000000000233', N'00000000-0000-0000-0000-000000000000', N'Bolin88888888', N'BOLIN88888888', N'Bolin88888888@test.com', N'BOLIN88888888@TEST.COM', 0, N'AQAAAAEAACcQAAAAEPr4tPtL/AgfahJqRHJcPCGPjpCLvmSjIDY6e3APrNcHnhsOd/pRYL78zpea68vIeA==', N'HN44TF4XEPYBMJT4NMPOSDINBLMLUU5L', N'632d0e2d-1f15-47d0-8927-1a1740957e40', N'98888888', 0, 0, NULL, 1, 0)
--GO
INSERT [AppointmentMain].[Country] ([CountryId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [SortOrder], [PhoneCountryCode]) VALUES (N'00000000-0000-0000-0000-000000000001', N'AB', N'ARUBA', N'ARUBA', 0, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), 1, NULL)
INSERT [AppointmentMain].[Country] ([CountryId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [SortOrder], [PhoneCountryCode]) VALUES (N'00000000-0000-0000-0000-000000000002', N'AD', N'ANDORRA', N'ANDORRA', 0, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), 2, NULL)
INSERT [AppointmentMain].[Country] ([CountryId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [SortOrder], [PhoneCountryCode]) VALUES (N'00000000-0000-0000-0000-000000000003', N'AE', N'UNITED ARAB EMIRATES', N'UNITED ARAB EMIRATES', 0, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), 3, NULL)
GO
INSERT [AppointmentMain].[Occupation] ([OccupationId], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000000', N'UNKNOWN', N'UNKNOWN', 0, 0, CAST(N'2021-05-12T12:11:15.0000000' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-12T12:11:15.0000000' AS DateTime2), CAST(N'2021-05-12T12:11:15.0000000' AS DateTime2))
INSERT [AppointmentMain].[Occupation] ([OccupationId], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'41fd5ceb-6d96-49dd-779f-08d914fbfc38', N'software engineer', N'software engineer', 0, 1, CAST(N'2021-05-12T12:11:15.0055191' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-12T12:11:15.0066298' AS DateTime2), CAST(N'2021-05-12T12:11:15.0067719' AS DateTime2))
INSERT [AppointmentMain].[Occupation] ([OccupationId], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'f2dc27f8-4377-414f-77a0-08d914fbfc38', N'sales associate', N'sales associate', 0, 2, CAST(N'2021-05-12T12:11:15.0069947' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-12T12:11:15.0069955' AS DateTime2), CAST(N'2021-05-12T12:11:15.0069957' AS DateTime2))
GO
INSERT [Tenant_001].[Question] ([QuestionId], [DisplayValue], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [Type]) VALUES (N'ddbc2e01-e3f8-45fe-3226-08d8fd8f2b87', N'What kind of relationships are you looking for?', 0, CAST(N'2021-04-12T16:44:22.5331881' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-04-12T16:44:22.5333814' AS DateTime2), CAST(N'2021-04-12T16:44:22.5334669' AS DateTime2), N'MCQ')
INSERT [Tenant_001].[Question] ([QuestionId], [DisplayValue], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [Type]) VALUES (N'c21f4eda-d633-4ec9-3227-08d8fd8f2b87', N'What kind of food are you looking for?', 0, CAST(N'2021-04-12T16:44:22.5343869' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-04-12T16:44:22.5343881' AS DateTime2), CAST(N'2021-04-12T16:44:22.5343883' AS DateTime2), N'MCQ')
INSERT [Tenant_001].[Question] ([QuestionId], [DisplayValue], [IsUserMaintainable], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [Type]) VALUES (N'd0501e96-6950-4197-3228-08d8fd8f2b87', N'TEST QUESTION', 0, CAST(N'2021-04-12T16:44:22.5343908' AS DateTime2), CAST(N'2999-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-04-12T16:44:22.5343910' AS DateTime2), CAST(N'2021-04-12T16:44:22.5343912' AS DateTime2), N'MCQ')
GO
INSERT [Tenant_001].[QuestionAnswer] ([QuestionFk], [AnswerFk]) VALUES (N'ed8cd351-6483-459e-c73a-08d8fe3036b1', N'77d7f299-bbf2-4e7e-aee4-08d8fe3036ab')
INSERT [Tenant_001].[QuestionAnswer] ([QuestionFk], [AnswerFk]) VALUES (N'ed8cd351-6483-459e-c73a-08d8fe3036b1', N'0b636dd4-abb1-4fb8-aee5-08d8fe3036ab')
INSERT [Tenant_001].[QuestionAnswer] ([QuestionFk], [AnswerFk]) VALUES (N'ed8cd351-6483-459e-c73a-08d8fe3036b1', N'988d0bd2-24cb-4e22-aee6-08d8fe3036ab')
GO
INSERT [AppointmentMain].[Race] ([RaceID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [IRISCode]) VALUES (N'00000000-0000-0000-0000-000000000001', N'CN', N'Chinese', N'Chinese', 1, 2, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2100-01-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), N'CN')
INSERT [AppointmentMain].[Race] ([RaceID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [IRISCode]) VALUES (N'00000000-0000-0000-0000-000000000002', N'MY', N'Malay', N'Malay', 1, 5, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2100-01-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), N'MY')
INSERT [AppointmentMain].[Race] ([RaceID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate], [IRISCode]) VALUES (N'00000000-0000-0000-0000-000000000003', N'IN', N'Indian', N'Indian', 1, 4, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2100-01-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), N'IN')
GO
INSERT [AppointmentMain].[Relationship] ([RelationshipID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'077ba1dc-edff-45f3-b742-13dd84935ef9', N'REL802', N'Aunt', N'Aunt', 1, 46, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2015-06-01T00:00:00.000' AS DateTime))
INSERT [AppointmentMain].[Relationship] ([RelationshipID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'fcf332ad-713e-4eb5-87db-2279776559ba', N'REL405', N'Step-Son', N'Step-Son', 1, 27, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2015-06-01T00:00:00.000' AS DateTime))
INSERT [AppointmentMain].[Relationship] ([RelationshipID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'40670435-3503-4ff9-914a-2d13dd095a6b', N'REL006', N'Siblings', N'Siblings', 1, 6, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2015-06-01T00:00:00.000' AS DateTime))
GO
INSERT [AppointmentMain].[Religion] ([ReligionId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000001', N'B', N'Buddhist', N'Buddhist', 1, 1, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2099-12-31T23:59:59.9966667' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2))
INSERT [AppointmentMain].[Religion] ([ReligionId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000002', N'H', N'Hindu', N'Hindu', 1, 2, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2099-12-31T23:59:59.9966667' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2))
INSERT [AppointmentMain].[Religion] ([ReligionId], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000003', N'M', N'Muslim', N'Muslim', 1, 3, CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2099-12-31T23:59:59.9966667' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2013-06-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [AppointmentMain].[ResidentStatus] ([ResidentStatusID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000001', N'SC', N'Singapore Citizen', N'Singapore Citizen', 1, 1, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime))
INSERT [AppointmentMain].[ResidentStatus] ([ResidentStatusID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000002', N'SPR', N'Singapore Permanent Resident', N'Singapore Permanent Resident', 1, 2, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime))
INSERT [AppointmentMain].[ResidentStatus] ([ResidentStatusID], [Code], [DisplayValue], [Description], [IsUserMaintainable], [SortOrder], [EffectiveStartDate], [EffectiveEndDate], [CreateDate], [UpdateDate]) VALUES (N'00000000-0000-0000-0000-000000000003', N'R', N'Resident (Non-SC/Non-SPR)', N'Resident (Non-SC/Non-SPR)', 1, 3, CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime), CAST(N'2013-06-01T00:00:00.000' AS DateTime))
GO
/****** Object:  Index [IX_TenantConfiguration_TenantFK]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TenantConfiguration_TenantFK] ON [AppointmentMain].[TenantConfiguration]
(
	[TenantFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityAttendee_ActivityFk]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityAttendee_ActivityFk] ON [Tenant_001].[ActivityAttendee]
(
	[ActivityFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
--/****** Object:  Index [EmailIndex]    Script Date: 24/5/2021 9:01:31 AM ******/
--CREATE NONCLUSTERED INDEX [EmailIndex] ON [Tenant_001].[AppUser]
--(
--	[NormalizedEmail] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_AppUser_CountryFk]    Script Date: 24/5/2021 9:01:31 AM ******/
--CREATE NONCLUSTERED INDEX [IX_AppUser_CountryFk] ON [Tenant_001].[AppUser]
--(
--	[CountryFk] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_AppUser_OccupationFk]    Script Date: 24/5/2021 9:01:31 AM ******/
--CREATE NONCLUSTERED INDEX [IX_AppUser_OccupationFk] ON [Tenant_001].[AppUser]
--(
--	[OccupationFk] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_AppUser_ReligionFK]    Script Date: 24/5/2021 9:01:31 AM ******/
--CREATE NONCLUSTERED INDEX [IX_AppUser_ReligionFK] ON [Tenant_001].[AppUser]
--(
--	[ReligionFK] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [UserNameIndex]    Script Date: 24/5/2021 9:01:31 AM ******/
--CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [Tenant_001].[AppUser]
--(
--	[NormalizedUserName] ASC
--)
--WHERE ([NormalizedUserName] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
/****** Object:  Index [IX_AppUserQuestionAnswer_AnswerFK]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUserQuestionAnswer_AnswerFK] ON [Tenant_001].[AppUserQuestionAnswer]
(
	[AnswerFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppUserQuestionAnswer_QuestionFK]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUserQuestionAnswer_QuestionFK] ON [Tenant_001].[AppUserQuestionAnswer]
(
	[QuestionFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppUserRole_RoleFk]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppUserRole_RoleFk] ON [Tenant_001].[AppUserRole]
(
	[RoleFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [Tenant_001].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [Tenant_001].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [Tenant_001].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [Tenant_001].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionAnswer_AnswerFk]    Script Date: 24/5/2021 9:01:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionAnswer_AnswerFk] ON [Tenant_001].[QuestionAnswer]
(
	[AnswerFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
--ALTER TABLE [Tenant_001].[AppUser] ADD  DEFAULT (N'') FOR [Bio]
--GO
--ALTER TABLE [Tenant_001].[AppUser] ADD  DEFAULT ('1990-01-01T00:00:00.0000000') FOR [Birthdate]
--GO
--ALTER TABLE [Tenant_001].[AppUser] ADD  DEFAULT (N'A') FOR [ActiveStatus]
--GO
--ALTER TABLE [Tenant_001].[AppUser] ADD  DEFAULT ('00000000-0000-0000-0000-000000000009') FOR [ReligionFK]
--GO
--ALTER TABLE [Tenant_001].[AppUser] ADD  DEFAULT ('00000000-0000-0000-0000-000000000233') FOR [CountryFk]
--GO
ALTER TABLE [AppointmentMain].[TenantConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_TenantConfiguration_TenantMapping_TenantFK] FOREIGN KEY([TenantFK])
REFERENCES [AppointmentMain].[TenantMapping] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [AppointmentMain].[TenantConfiguration] CHECK CONSTRAINT [FK_TenantConfiguration_TenantMapping_TenantFK]
GO
ALTER TABLE [Tenant_001].[ActivityAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ActivityAttendee_Activity_ActivityFk] FOREIGN KEY([ActivityFk])
REFERENCES [Tenant_001].[Activity] ([ActivityId])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[ActivityAttendee] CHECK CONSTRAINT [FK_ActivityAttendee_Activity_ActivityFk]
GO
ALTER TABLE [Tenant_001].[ActivityAttendee]  WITH CHECK ADD  CONSTRAINT [FK_ActivityAttendee_AppUser_AppUserFk] FOREIGN KEY([AppUserFk])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[ActivityAttendee] CHECK CONSTRAINT [FK_ActivityAttendee_AppUser_AppUserFk]
--GO
--ALTER TABLE [Tenant_001].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_Country_CountryFk] FOREIGN KEY([CountryFk])
--REFERENCES [AppointmentMain].[Country] ([CountryId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[AppUser] CHECK CONSTRAINT [FK_AppUser_Country_CountryFk]
--GO
--ALTER TABLE [Tenant_001].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_Occupation_OccupationFk] FOREIGN KEY([OccupationFk])
--REFERENCES [AppointmentMain].[Occupation] ([OccupationId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[AppUser] CHECK CONSTRAINT [FK_AppUser_Occupation_OccupationFk]
--GO
--ALTER TABLE [Tenant_001].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_Religion_ReligionFK] FOREIGN KEY([ReligionFK])
--REFERENCES [AppointmentMain].[Religion] ([ReligionId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[AppUser] CHECK CONSTRAINT [FK_AppUser_Religion_ReligionFK]
--GO
ALTER TABLE [Tenant_001].[AppUserQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_AppUserQuestionAnswer_Answer_AnswerFK] FOREIGN KEY([AnswerFK])
REFERENCES [Tenant_001].[Answer] ([AnswerId])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[AppUserQuestionAnswer] CHECK CONSTRAINT [FK_AppUserQuestionAnswer_Answer_AnswerFK]
GO
--ALTER TABLE [Tenant_001].[AppUserQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_AppUserQuestionAnswer_AppUser_AppUserFK] FOREIGN KEY([AppUserFK])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
ALTER TABLE [Tenant_001].[AppUserQuestionAnswer] CHECK CONSTRAINT [FK_AppUserQuestionAnswer_AppUser_AppUserFK]
GO
ALTER TABLE [Tenant_001].[AppUserQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_AppUserQuestionAnswer_Question_QuestionFK] FOREIGN KEY([QuestionFK])
REFERENCES [Tenant_001].[Question] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[AppUserQuestionAnswer] CHECK CONSTRAINT [FK_AppUserQuestionAnswer_Question_QuestionFK]
GO
--ALTER TABLE [Tenant_001].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AppUserRole_AppUser_UserFk] FOREIGN KEY([UserFk])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
ALTER TABLE [Tenant_001].[AppUserRole] CHECK CONSTRAINT [FK_AppUserRole_AppUser_UserFk]
GO
ALTER TABLE [Tenant_001].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_AppUserRole_AspNetRoles_RoleFk] FOREIGN KEY([RoleFk])
REFERENCES [Tenant_001].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[AppUserRole] CHECK CONSTRAINT [FK_AppUserRole_AspNetRoles_RoleFk]
GO
ALTER TABLE [Tenant_001].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Tenant_001].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
--ALTER TABLE [Tenant_001].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AppUser_UserId] FOREIGN KEY([UserId])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AppUser_UserId]
--GO
--ALTER TABLE [Tenant_001].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AppUser_UserId] FOREIGN KEY([UserId])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
--ALTER TABLE [Tenant_001].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AppUser_UserId]
--GO
--ALTER TABLE [Tenant_001].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AppUser_UserId] FOREIGN KEY([UserId])
--REFERENCES [Tenant_001].[AppUser] ([UserId])
--ON DELETE CASCADE
--GO
ALTER TABLE [Tenant_001].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AppUser_UserId]
GO
ALTER TABLE [Tenant_001].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAnswer_Answer_AnswerFk] FOREIGN KEY([AnswerFk])
REFERENCES [Tenant_001].[Answer] ([AnswerId])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[QuestionAnswer] CHECK CONSTRAINT [FK_QuestionAnswer_Answer_AnswerFk]
GO
ALTER TABLE [Tenant_001].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAnswer_Question_QuestionFk] FOREIGN KEY([QuestionFk])
REFERENCES [Tenant_001].[Question] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [Tenant_001].[QuestionAnswer] CHECK CONSTRAINT [FK_QuestionAnswer_Question_QuestionFk]
GO
USE [master]
GO